# Configuration d'environnement racine TENIRA TRAVAUX
PROJECT_NAME="TENIRA TRAVAUX"
ENVIRONMENT=development
PORT=8000
DATABASE_URL=postgresql://tenira_user:tenira_password@localhost:5433/tenira_db
CORS_ORIGINS=http://localhost:5173,http://localhost:3000,http://127.0.0.1:5173,*

# Contact Officiel Rachid BOUZAYD
WHATSAPP_PHONE=212661490495
TELEPHONE_FIXE=0522354868
EMAIL_OFFICIEL=teniratravaux@gmail.com
ADRESSE="Hay Amal 1, N° 92, Appt N° 8, Tit Mellil, Casablanca - Maroc"
